[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = always

[user]
    name = Aaron Barnes
    email = aaron@io.nz

[alias]
    cdiff = diff --cached
    wdiff = diff --word-diff
    wwdiff = diff --word-diff-regex=.
    cwdiff = diff --cached --word-diff
    cwwdiff = diff --cached --word-diff-regex=.
    co = checkout
    cp = cherry-pick
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --topo-order
    llol = log --decorate --pretty=oneline --abbrev-commit --topo-order
    llog = log --no-merges --decorate --topo-order
    track = checkout --track
    ll = log -n1
    cmt = commit -v
    stat = show --stat
    ammend = commit --amend
    amend = commit --amend
    ament = commit --amend
    branchr = config --get branch.master.remote
    reverse = reset --merge HEAD~1

[pull]
    ff = only

[push]
    default = tracking

[core]
    pager = delta
    editor = vim

[merge]
    renamelimit = 100000

[diff]
    noprefix = True

[tag]
    sort = version:refname

[pager]
    branch = false

[delta]
    syntax-theme = Coldark-Dark
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only
