[alias]
    cdiff = diff --cached
    wdiff = diff --word-diff
    wwdiff = diff --word-diff-regex=.
    cwdiff = diff --cached --word-diff
    cwwdiff = diff --cached --word-diff-regex=.
    co = checkout
    cp = cherry-pick
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --topo-order
    llol = log --decorate --pretty=oneline --abbrev-commit --topo-order
    llog = log --no-merges --decorate --topo-order
    track = checkout --track
    ll = log -n1
    cmt = commit -v
    stat = show --stat
    ammend = commit --amend
    amend = commit --amend
    ament = commit --amend
    branchr = config --get branch.master.remote
    branches = "!f() { git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) | %(color:red)%(objectname:short)%(color:reset) | %(contents:subject) | %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --color | column -s '|' -t; }; f"
    reverse = reset --merge HEAD~1

[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = always

[commit]
    verbose = true

[core]
    pager = delta
    editor = nvim

[delta]
    syntax-theme = Coldark-Dark
    navigate = true
    line-numbers = true
    width = variable

[diff]
    noprefix = True

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    renamelimit = 100000

[pager]
    branch = false

[pull]
    ff = only

[push]
    default = tracking

[tag]
    sort = version:refname

[user]
    name = Aaron Barnes
    email = aaron@io.nz
