[color]
    ui = true
    pager = true

[user]
    name = Aaron Barnes
    email = aaronb@catalyst.net.nz

[alias]
    cdiff = diff --cached
    co = checkout
    cp = cherry-pick
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    track = checkout --track
    ll = log -n1
    cmt = commit -v
    stat = show --stat
    ammend = commit --amend
    amend = commit --amend
    ament = commit --amend
    branchr = config --get branch.master.remote
    reverse = reset --merge HEAD~1

[push]
    default = tracking

[core]
    pager = less -r
    editor = vim
