[color]
    branch = auto
    diff = auto
    status = auto
    showbranch = auto
    ui = always

[user]
    name = Aaron Barnes
    email = aaron@io.nz

[alias]
    cdiff = diff --cached
    wdiff = diff --word-diff
    wwdiff = diff --word-diff-regex=.
    cwdiff = diff --cached --word-diff
    cwwdiff = diff --cached --word-diff-regex=.
    co = checkout
    cp = cherry-pick
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    track = checkout --track
    ll = log -n1
    cmt = commit -v
    stat = show --stat
    ammend = commit --amend
    amend = commit --amend
    ament = commit --amend
    branchr = config --get branch.master.remote
    reverse = reset --merge HEAD~1

[push]
    default = tracking

[core]
    pager = less -r
    editor = vim

[merge]
    renamelimit = 100000
