URxvt*scrollstyle:plain
URxvt*font: xft:DejaVu Sans Mono-9
URxvt*boldFont: xft:DejaVu Sans Mono-9
URxvt*background: #222222
URxvt*foreground: #999999

!Clickable URLs
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:     /usr/bin/firefox
URxvt.matcher.button:   1

! Default
! 0: black
URxvt*color0:  #222222
URxvt*color8:  #222222
! 1: red
URxvt*color1:  #9f6767
URxvt*color9:  #9f6767
! 2: green
URxvt*color2:  #92ac68
URxvt*color10: #92ac68
! 3: yellow
URxvt*color3:  #d0d293
URxvt*color11: #d0d293
! 4: blue
URxvt*color4:  #9aacc3
URxvt*color12: #9aacc3
! 5: magenta
URxvt*color5:  #bb77a4
URxvt*color13: #bb77a4
! 6: cyan
URxvt*color6:  #77bbb5
URxvt*color14: #77bbb5
! 7: white
URxvt*color7:  #999999
URxvt*color15: #999999

URxvt*scrollTtyOutput   : false
URxvt*scrollWithBuffer  : true
URxvt*scrollTtyKeypress : true


*newLoginCommand: dm-tool switch-to-greeter
